
<div class="d-flex h-100">
  <!--Start section-->
  <section class="border border-primary d-flex flex-column flex-grow-1 bg-light">
    <!--Start header-->
    <header class="border border-success d-flex align-items-center justify-content-between w-100">
      <app-navbar class="w-100"></app-navbar>
    </header>
    <!--End header-->
    <!--Start main-->
    <main class="flex-grow-1 d-flex border justify-content-center pt-3">
  
      <router-outlet></router-outlet>
      <!-- <app-card></app-card> -->
    </main>
    <!--End main-->
  </section>
  <!--End section-->
</div>